<% layout('layouts/boilerplate') %>

    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
            Error <%=err.statusCode%>:<%if (process.env.NODE_ENV !== "production"){%> <%=err.message }%>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-3 mb-3">
            <img src="https://c.tenor.com/WJ2FLjDnIN8AAAAd/confused-dog.gif" class="img-fluid rounded mx-auto d-block"
                alt="...">
        </div>
    </div>